.container {
    display: flex;
    padding-top: 0px;
    margin-top: 70px;
}
.request_container {
    background-color: #343338;
    width: 25%;
    height: 90vh;
    padding: 10px;
    position: fixed;
}
.title_request_container {
    color: aliceblue;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
}
.request_item {
    padding: 10px;
    display: flex;
    text-decoration: none;
    color: inherit;
    margin-top: 10px;
}
.avatar_request_item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 10px;
}
.friend_name_accept {
    font-size: 18px;
    color: aliceblue;
    margin-top: 5px;
    align-items: center;
    margin-top: 20px;
}
.text_center {
    color: aliceblue;
    margin-left: 30%;
    font-size: 16px;
    font-style: italic;
    opacity: 0.5;    
}
.text_center_info {
    color: aliceblue;
    margin-left: 35%;
    right: 0;
    font-size: 18px;
    font-style: italic;
    opacity: 0.5;
}
.info_container {
    margin-left: auto;
    width: 75%;
}