.container {
    scroll-behavior: smooth;
    margin-top: -21px;
	height: 100vh;
    width: 100%;
    height: 100%;
}
.content {
    display: flex;
}
.util {
    width: 25%;
    left: 0;
    margin-right: auto;
    position: fixed;
    overflow-y: auto;
    overflow-x: auto;
}
.util::-webkit-scrollbar {
    display: none;
}
.list_friend {
    width: 25%;
    right: 0;
    margin-left: auto;
    position: fixed;
}
.post_content {
    background-color: transparent;
    display: grid;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    overflow-y: auto;
    overflow-x: auto;
}
.post_content::-webkit-scrollbar{
    display: none;
}
.line {
    border-bottom: 1px solid rgb(254, 251, 251);
}
.ads {
    margin-left: 15px;
}
.ads_header {
    margin-top: 110px;
    font-size: 18px;
    font-style: italic;
    color: rgb(249, 247, 247);
    margin-bottom: -10px;
}
.ads_element {
    display: flex;
    margin-bottom: 10px;
}
.img_ads {
    width: 100px;
    height: 120px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.title {
    font-size: 16px;
    color: rgb(249, 247, 247);
    margin-left: 20px;
    margin-top: 50px;
}
.friends {
    margin-left: 15px;
    overflow-y: auto;
    overflow-x: auto;
}
.friends::-webkit-scrollbar {
    display: none;
}
.friends_header {
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
    color: rgb(249, 247, 247);
    margin-bottom: 10px;
 }
.friend_element {
    display: flex;
    margin-bottom: 10px;
}
.avatar_friend {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.friend_name {
    font-size: 16px;
    color: rgb(249, 247, 247);
    margin-left: 10px;
    margin-top: 10px;
}
.my_info {
    display: flex;
    margin-top: 100px;
    margin-left: 15px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0.3s ease;
}
.my_info:hover {
    transform: scale(1.02); /* Phóng to nhẹ khi hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Tạo đổ bóng nổi bật */
}
.util_element {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    transition: transform 0.2s ease;
    box-shadow: 0.2s ease;
}
.util_element:hover {
    transform: scale(1.02); /* Phóng to nhẹ khi hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Tạo đổ bóng nổi bật */
}
.link {
    display: flex;
    text-decoration: none;
}
.textdecoration_none {
    text-decoration: none;
}
.btn_modal {
    display: flex;
    background-color: #242329;
    border: none;
    margin-left: -5px;
}
.not_element {
    margin-top: 20px;
    color: aliceblue;
    font-size: 16px;
    opacity: 0.5;
}