.container {
    height: auto;
    width: 550px;
    border-radius: 10px;
    background-color: #343338;
    margin-top: 50px;
}
.header_container {
    display: flex;
    height: 50px;
    margin-bottom: 20px;
}
.line {
    border-bottom: 2px solid rgb(247, 247, 250);
    margin-bottom: 10px;
}
.line_col {
    border-right: 2px solid rgb(250, 250, 251);
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.username {
    font-size: 20px;
    margin-left: 8px;
    margin-bottom: 20px;
    margin-top: 25px;
    color: rgb(249, 247, 247);
}
.text_color {
    color: rgb(249, 247, 247);
}
.content {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: rgb(249, 247, 247);
}
.img_container {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    overflow: hidden;
}
.img_post {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.data {
    padding: 10px;
}
.data_child {
    padding: 10px;
    color: rgb(249, 247, 247);
}
.footer_container {
    display: flex;
    justify-content: space-between;
    height: 35px;
}
.margin_left {
    margin-left: 50px;
    color: rgb(249, 247, 247);
}
.margin_right {
    margin-right: 50px;
    color: rgb(249, 247, 247);
}
.interact {
    width: 20px;
    height: 20px;
}