.navbar_container{
    display: flex;
    padding: 1rem 1.5rem;
    background-color:#343338;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
} 
.element_children {
    margin: 0 1.25rem;
    font-weight: 600;
    color: rgb(23, 98, 184);
    margin-left: auto;
    text-decoration: none;
}
.tag {
    margin-left: auto;
    display: flex;
}
.search_form {
    margin-right: auto;
    padding: 1rem 1.5rem;
}
.logo {
    margin-left: 20px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}
.icon {
    width: 35px;
    height: 35px;
}
.util_container {
    background-color: #343338;
    width: 300px;
    color: aliceblue;
}
.avatar_info {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon_info {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.info_container {
    text-decoration: none;
    color: inherit;
    align-items: center;
}
.view_info{
    margin-left: 15px;
    font-size: 20px;
    color: aliceblue;
}
.logout_txt{
    margin-left: 20px;
    font-size: 18px;
    color: aliceblue;
}
.logout_txt {
    font-size: 16px;
    margin-top: 10px;
}
.margin-top {
    align-items: center;
}