.navbar_container{
    display: flex;
    padding: 1rem 1.5rem;
    background-color:#343338;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
} 
.element_children {
    margin: 0 1.25rem;
    font-weight: 600;
    color: rgb(23, 98, 184);
    margin-left: auto;
    text-decoration: none;
}
.tag {
    margin-left: auto;
    display: flex;
}
.search_form {
    margin-right: auto;
    padding: 1rem 1.5rem;
}